bin/**
*.exe
*.pdb
src/Generated/**
*.sln
.vs/Blind/v16/.suo
.vs/Blind/v16/Browse.VC.db
.vs/Blind/v16/Browse.VC.db-shm
.vs/Blind/v16/Browse.VC.db-wal
.vs/Blind/v16/Browse.VC.opendb
.vs/Blind/v16/ipch/AutoPCH/207ebf529fef4847/WIN32_BLIND.ipch
.vs/Blind/v16/ipch/AutoPCH/4ac1423b66c2effb/BLIND.ipch
.vs/Blind/v16/ipch/AutoPCH/5517c9836cd47e30/TYPES.ipch
